<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.messedup.saurabh.mess2">
    //General permissions
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    //required for Juspay to read the OTP from the SMS sent to the device

    <application
        android:name="com.messedup.saurabh.mess2.FontApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logofinal1"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.messedup.saurabh.mess2.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/NewTheme1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.messedup.saurabh.mess2.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="com.messedup.saurabh.mess2.LoginActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.messedup.saurabh.mess2.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NewTheme1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.messedup.saurabh.mess2.IntroActivity" />
        <activity
            android:name="com.messedup.saurabh.mess2.RegisterActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.messedup.saurabh.mess2.MessSelectionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.messedup.saurabh.mess2.GroupFormation.GroupRequestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.messedup.saurabh.mess2.PaymentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name="com.messedup.saurabh.mess2.PaymentTryActivity" />
        <activity
            android:name="com.messedup.saurabh.mess2.BrowserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NewTheme1" />
        <activity
            android:name="com.messedup.saurabh.mess2.AboutUsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NewTheme1" />
        <activity
            android:name="com.messedup.saurabh.mess2.UnderConstructionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NewTheme1" />
        <activity
            android:name="com.messedup.saurabh.mess2.NextMonthActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NewTheme1" />
        <activity android:name="com.messedup.saurabh.mess2.ScanActivity" />
        <activity
            android:name="com.messedup.saurabh.mess2.AboutMessActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NewTheme1" />
        <activity android:name="com.messedup.saurabh.mess2.TermsAndConditionsActivity"></activity>
    </application>

</manifest>